<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap.min.css">

	
	<script src="{{MEDIA_URL}}js/jquery.js"></script>
<script src="{{MEDIA_URL}}js/script.js"></script>
<script src="{{MEDIA_URL}}js/bootstrap.js"></script>
<script src="{{MEDIA_URL}}js/bootstrap-dropdown.js"></script>

<script src="{{MEDIA_URL}}js/bootbox.min.js"></script>
<script src="{{MEDIA_URL}}js/horario.js"></script>
<script src="{{MEDIA_URL}}js/formularios.js"></script>

<link rel="stylesheet" href="{{MEDIA_URL}}css/bootstrap.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
<link rel="stylesheet" href="{{STATIC_URL}}css/inc.css">
	<!--<script type="text/javascript">
	 	$(".dropdown-toggle").dropdown-toggle
	</script>-->
	

	<title>SAESCOM</title>
</head>
<body>

			<div class="contenedor-iframe">
				<!--AREA DE TRABAJO-->
				<div class="page-header">
					<h2>Evaluación de profesores</h2>
				</div>


				{% if flagep == 1 %}
				<script>
					bootbox.alert("Evaluación correcta", function(){window.location='../../evaluarprofsframe1/'})
				</script>
				{% endif %}				


				<div class="form-inline">
					
					<label><strong>Profesor: {{name}}</strong></label>
					<label style="margin-left:70px;"><strong>Materia: {{nameMat}}</strong></label>
					<label style="margin-left:70px;"><strong>Grupo: {{group}}</strong></label>
					
				</div>

			
			<form action="../../realizarEvaluacion/{{idmat}}/" method="GET"> {% csrf_token %}
				
			<p>Lee cuidadosamente y responde de acuerdo a tu criterio las siguientes preguntas:</p>
			<p></p>
			<div class="form-inline">
			<label><strong>Asiste a clases</strong></label>
			<select id="tipoasis" style="width:auto;" name="preg1">
				<option value="1">NUNCA</option>
				<option value="2">MAL O RARA VEZ</option>
				<option value="3">REGULAR O FRECUENTEMENTE</option>
				<option value="4">BIEN O CASI SIEMPRE</option>
				<option value="5">MUY BIEN O SIEMPRE</option>
			</select>
			</div>
			<br>
			
			<div class="form-inline">
			<label><strong>Es puntual &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></label>
			<select id="tipopunt" style="width:auto;" name="preg2">
				<option value="1">NUNCA</option>
				<option value="2">MAL O RARA VEZ</option>
				<option value="3">REGULAR O FRECUENTEMENTE</option>
				<option value="4">BIEN O CASI SIEMPRE</option>
				<option value="5">MUY BIEN O SIEMPRE</option>
			</select>
			</div>
			<br>

			<div class="form-inline">
			<label><strong>Es respetuoso(a) &nbsp&nbsp&nbsp&nbsp</strong></label>
			<select id="tipoact" style="width:auto;" name="preg3">
				<option value="1">NUNCA</option>
				<option value="2">MAL O RARA VEZ</option>
				<option value="3">REGULAR O FRECUENTEMENTE</option>
				<option value="4">BIEN O CASI SIEMPRE</option>
				<option value="5">MUY BIEN O SIEMPRE</option>
			</select>
			</div>
			<br>
			
			<div class="form-inline">
			<label><strong>Del 1 al 10 como califica su dominio del temario &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong></label>
			<select id="tipocalif1" style="width:auto;" name="preg4">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
			</div>
			<br>
			
			<div class="form-inline">
			<label><strong>Del 1 al 10 como califica la capacidad de transmitir el conocimiento</strong></label>
			<select id="tipocalif2" style="width:auto;" name="preg5">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7">7</option>
				<option value="8">8</option>
				<option value="9">9</option>
				<option value="10">10</option>
			</select>
			</div>

			

			<br>
		<div class="alin-der">
			<input type="submit" class="btn btn-default" value="Finalizar evaluación" name="fin_ev">
		</div>

		</form>
			
			
</body>
</html>