<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" src="{{MEDIA_URL}}js/script.js"></script>
	<link rel="stylesheet" href="{{MEDIA_URL}}css/style.css">

	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/bootstrap.min.css">
	
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/bootstrap.min.js"></script>
	<!--<script type="text/javascript">
	 	$(".dropdown-toggle").dropdown-toggle
	</script>-->
	

	<title>SAESCOM</title>
</head>
<body>

<div class="page-header">
			<h2>Horarios de laboratorios</h2>
		</div>

		<form action="" method="POST">{% csrf_token %}
		<div class="form-inline">		
			<label style="margin-left:50px;"><strong>Laboratorio:</strong></label>
			<select id="nivel" style="width:auto;">
				{% for nombre_lab in labs %}
				<option>{{ nombre_lab.nombre_lab.nombre}}</option>
				{% endfor %}
			</select>
		</div>
		</form>

		<br>
		<br>

		<div class="contenedor-tabla">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Horario</th>
						<th>Lunes</th>
						<th>Martes</th>
						<th>Miércoles</th>
						<th>Jueves</th>
						<th>Viernes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>07:00-08:30</td>
						<td>Análisis de algoritmos</td>
						<td>TIEMPO LIBRE</td>
						<td>Estructuras de datos</td>
						<td></td>
						<td>Teoría computacional</td>
					</tr>
					
					<tr>
						<td>08:30-10:00</td>
						<td>Base de Datos</td>
						<td></td>
						<td></td>
						<td>Programación Orientada a Objetos</td>
						<td>TIEMPO LIBRE</td>
					</tr>
					
					<tr>
						<td>10:30-12:00</td>
						<td>TIEMPO LIBRE</td>
						<td></td>
						<td>Compiladores</td>
						<td></td>
						<td>Ingeniería de software</td>
					</tr>
					
					<tr>
						<td>12:00-13:30</td>
						<td>TIEMPO LIBRE</td>
						<td>Distributed Data Base</td>
						<td></td>
						<td>Redes de computadora</td>
						<td></td>
					</tr>
				</tbody>
			</table>

		</div>
</body>
</html>