{% extends 'profesor/base.html' %}

{% block archivos_css  %}


{% endblock %}

{% block archivos_js  %}
	
{% endblock %}


{%  block contenido %}

<div id="reportes">
	<h1>Reportes</h1></br>
					<h2><p style="margin-bottom:5%">Reporte de lista de alumnos</p></h2></br>
				
					<center>
					<Form method="GET" action='/reporte_lista'>
					Elija el grupo:
						<select id="materia" name="materia">
							{%for grupo in grupolist %}
								<option value={{grupo.id}}> {{grupo.materia.nombre}} {{grupo.grupo.cve_grupo}} 
								</option>
							{% endfor %}
						</select>

					<input type="submit" value="Aceptar"/>
					<br>

					{% if mensaje == 1 %}
					<script>
					bootbox.alert('Calificaciones guardadas correctamente')
					
					</script>

				{% elif mensaje == 2 %}
					<script>
					alert('calificaciones mal guardadas')
					</script>
				{% endif %}
				

			</Form>
		</center>
		<button class="btn" style="float: left; margin-left: 60px;" onclick="location.href='/profesor_main'">		Regresar
		</button>


</div>


{% endblock %}