
{% extends "control/basectrl.html" %}
{% block nom-usuario %}{{bol.nombre}} {{bol.apellidoPaterno}} {{bol.apellidoMaterno}}{% endblock %}
{% block tipo-usuario %}{{bol.clasificacion}}{% endblock %}
{% block id-usuario %}{{bol}}{% endblock %}
{% block archivos_css  %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/perfiles/perfil-profesor.css">
	
{% endblock %}

{%  block contenido %}

<!-- area de trabajo -->



	
	
	
			
			<div class="show-content">			

			<h1 id='titulo' align=center>Modificar Horario</h1>
			
			
			
							{% if notif == 2 %}
				<script>
					bootbox.alert("Materia dada de baja correctamente")
					
				</script>
				{% endif %}
			<br>	
			<br>
					
		<table id='tabla-materias' class="table">

				<tr>	
					<tr>
					<th>{{us.nombre}} {{ us.apellidoPaterno}} {{ us.apellidoMaterno}}</th>				
					<th>{{us.clave}}</th>
					
					</tr>
					<tr>
					<th></th>				
					<th></th>
		
					</tr>
					<tr>
					<th>Materia y Grupo</th>				
					
					</tr>
					
					{% for i in a %}
					<form method="POST" action="../darDeBaja/">	{% csrf_token %}
						<tr>
							<td>{{i.materia_grupo}}</td>
							<td class="btn1"><input class="btn" type="submit" value="Dar de baja"  ></td>
							<input class="btn1" name="materia" value="{{i.materia_grupo}}"  hidden>
							<input class="btn1" name="clave3" value="{{us.clave}}"  hidden>
							
						<td></td>
						</tr>
					</form>
					{% endfor %}
					<center>
						<td class="modificar"><input class="modificar" type="submit" value="Agregar Materia" onclick="location.href='../agregarmateria{{us.clave}}/'"/></td>
					</center>
					
		</table>
					
				
				
									
			</div>	

{% endblock %}

	
			
