
{% extends 'profesor/base.html' %}

{% block archivos_css  %}

	
{% endblock %}

{%  block contenido %}
			
				<h1>Calificaciones</h1></br>
					<h2>Grupos</h2></br>
				
				<center>
			<Form method="GET" action='/profesor_ingresa_calificacion_ets'>
				<P>Elija el grupo a evaluar
				<select id="materia" name="materia">
					{%for grupo in grupolist %}
						<option value={{forloop.counter0}}> {{ grupo.materia.nombre}} {{grupo.grupo.cve_grupo}} </option>
					{% endfor %}
				</select>

				
					<input type="submit" value="Seleccionar"/>

			</Form>
		</center>
		
{% endblock %}